<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<add key="BinanceApiKey" value="" />
		<add key="BinanceApiSecret" value="" />
		<add key="LoadTradingRules" value="false" />
		<add key="DisplayUnitUSDValue" value="true" />
		<add key="DisplayPercentage1h" value="true" />
		<add key="DisplayPercentage24h" value="true" />
		<add key="DisplayPercentage7d" value="true" />
		<add key="DisplayETHCost" value="true" />
		<add key="CalculateUSDCost" value="true" />
		<add key="DisplayProfit" value="true" />
        <add key="DisplayRank" value="true" />
		<add key="RepeatCoinLastColumn" value="true" />
		<add key="CalculateUSDCostFrom" value="https://etherscan.io/chart/etherprice?output=csv" />
	</appSettings>
</configuration>