<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<add key="BinanceApiKey" value="" />
		<add key="BinanceApiSecret" value="" />
		<add key="LoadTradingRules" value="false" />
		<add key="DisplayUnitUSDValue" value="true" />
		<add key="DisplayPercentage1h" value="true" />
		<add key="DisplayPercentage24h" value="true" />
		<add key="DisplayPercentage7d" value="true" />
		<add key="DisplayETHCost" value="false" />
		<add key="CalculateUSDCost" value="true" />
		<add key="DisplayProfit" value="true" />
		<add key="DisplayRank" value="true" />
		<add key="DisplayProfitPercent" value="true" />
		<add key="RepeatCoinLastColumn" value="true" />
		<add key="CalculateUSDCostFrom" value="https://etherscan.io/chart/etherprice?output=csv" />
		<add key="CalculateUSDCostFromTimeout" value="5" />
		<add key="AddManualCostForQSP" value="true" />
		<add key="CoinMarketCapFetchCount" value="200" />
		<!-- USDValue|USDCost|ProfitPercent -->
		<add key="OrderDescendingBy" value="ProfitPercent" />
	</appSettings>
</configuration>